
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Varal<span id="bgblue">uae</span></h3></div>
                <div class="col-sm-1"></div>
            <!-- <div class="cil-sm-4"></div> -->
            <div class="col-sm-7">
                <ul class="navbar navbar-expand-sm  navbar-light" style="float: right;">
                    <li class="nav-item"> <a class="nav-link " href="#">Home</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Services</a> </li>
                    <li class="nav-item">  <a class="nav-link" href="#">Pricing</a>  </li>
                    <li class="nav-item">  <a class="nav-link" href="#">About Us</a>  </li>
                    <li class="nav-item">  <a class="nav-link Active btn btn-primary text-white" href="#">Start a Company</a>  </li>
                  </ul>





            </div>

            <!-- row end -->
        </div>


        <div class="search-row" style="width: 100%;">
            <div class="right" style="width: 30%; float: right; margin-right: 30px;">
            <!-- <i class="fa fa-search" style="position: relative;color: blue; top: 5;font-size: 20px; "></i> -->
            <div class="box" style="width: 350px;padding: 12px;border: 2px solid blue;color: blue;background-color: white;border-radius: 8px;margin-right: 40px;">       
             <i class="fa fa-search" style="position: relative;color: blue; top: 5;font-size: 20px;margin-right: 17px;"></i>Search a Term | Topic</div>
            <!-- <input type="text" name="search" id="search" placeholder=" Search a Term | Topic" style="width: 300px;text-align: center;flex: 1;padding-left: 20px; "> -->
        </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <i class="fa fa-search" style="left: 2%;"></i><input type="text" name="search" id="search"  placeholder="  Search a Team | Topic " style="text-align: justify;">
                <i class="fa fa-search"></i>
            </div>
        </div> -->
<!-- matter start -->
<div class="row" style="margin-top: 100px;">
    <div class="col-sm-6">
    <div>
        <span style="color:blue;">Claim a Free Quote</span>
        <h2 style="font-weight: bold;"><span style="border-bottom:4px solid orange; ">Get started</span> on fulfilling<br>your Dubai or UAE  <br> dream.</h2>
        <span style="color: blue;">UAE & Offshore Company</span> <br> <br>
     <p style="color: gray;">We provide you with information about UAE <br>
         or Offshore Company Registration & help You <br>
        setup your company with a bank account and <br> visas.</p>
        <button class="btn btn-primary btn-border">Start a Company</button>
        <button class="btn btn-light" style="color: blue; border: 1px solid blue;">Renew a Company</button>
    </div>
   
</div>
<div class="col-sm-6">
    <img src="./assets/ILLUSTRATION.png" alt="no image" width="500px" style="border-radius: 50px;">
</div>


<!-- video link -->
<div style="color: blue; text-align: center; width: 100%; margin-top: 20px;" class="videolink">Watch the video about UAE Offshore Company Registration
<img style="border-radius: 50%; margin: 3px; outline: blue solid 1px; border: solid white 5px; color: blue;" src="./assets/Group 117.png" alt="no image">
</div>

<!-- center matter -->
<div  class="dedicated" style="text-align: center;width: 100%; margin-top: 20px;">
    <h3 style="text-align: center; font-weight: bold;"><span style="border-bottom: 4px solid orange;" id="dedicated">Dedicated</span> <br>to our mission we are</h3>
    <p style="width: 100%; text-align: center; color: gray;">Our services include Company Formation & Renewals, <br> Trust & Fiduciary, Tax Residency Setup With Family, Bank <br>
    Accounts, Remote Management, Stock Trading <br> Platforms, Ownership Solutions.</p>
</div>

<!-- start of 3 rows -->
<div class="rows3" style="margin-top: 20px;">
    <div class="col1" style="margin-top: 10px;">
        <img src="./assets/dungeon.png" alt="no image" style="margin-bottom: 20px;"> <br>
        <h3>UAE Free Zone Company</h3> <br>
        <p style="width: 100%; text-align: left; color: gray;padding: 10px; " >Your registration agent, will answer all of your questions and help to reach a conclusion that meets your objectives of investing in the UAE. </p>
        <span style="color: orange; text-align: left; font-weight: bold;">Get Started</span>
    </div>
    <div class="col1">
        <img src="./assets/Vector-2.png" alt="no image" style="margin-bottom: 20px;"> <br>
        <h3>UAE Free Zone Company</h3> <br>
        <p style="width: 100%; text-align: left; color: gray;padding: 10px; " >The Dubai LLC formation documents are actually articles of organization or a certificate of organization. You can get yours today.</p>
        <span style="color: orange; text-align: left; font-weight: bold;">Get Started</span>
    </div>
    <div class="col1">
        <img src="./assets/Vector-1.png" alt="no image" style="margin-bottom: 20px;"> <br>
        <h3>UAE Free Zone Company</h3> <br>
        <p style="width: 100%; text-align: left; color: gray; padding: 10px; " >You can register an offshore company and open its bank account in Dubai. Your agent will help along all the process.</p>
        <span style="color: orange; text-align: left; font-weight: bold;">Get Started</span>
    </div>
</div>


<!-- left learn matter -->
<div class="left-right-floats">
    <!-- float left right -->

    <!-- float left start -->
<div class="float-left" style="width: 50%;padding: 5%;text-align: left;float: left;">
    <div class="text" style="margin-bottom: 100px;">
    <h4>Learn the ways in which you can benefit from UAE/Offshore Company.Then get started on fulfiling your UAE dream.</h4>
    
    <span style="color: blue;font-size: medium;">claim a Free Quote</span></div>
    
    
    <!-- left bank account -->
    <div class="left-bank-account">
        <img src="./assets/ILLUSTRATION 03  1.png" alt="no image" style="margin-bottom: 50px;">
        <h4>Bank Account Setup</h4>
        <p >There are many banks in the United Arab Emirates [UAE]. Both locally owned and branches of multinational ones. Foreign banks adjust according to their parent's strategies and have changed local requirments overnight in the past. But we are here to help you. </p>
        
        <span style="color: blue;font-weight: bold; margin-top: 20px;">Learn more &nbsp;&nbsp;&nbsp;<img src="./assets/Vector.png" alt="no image"> </span>
    </div>

    <!-- UAE-Company-Visas -->
    <div class="UAE-Company-Visas">
        <img src="./assets/Group-2.png" alt="no image" id="left-right-float-images">
        <h4>UAE Company Visas</h4>
        <p>Your application for Visas is critical especially if you intend to move to Dubai.This becomes even more urgent if your family will also move with you. All the paperwork is done on your behalf smoothly so that you may only focus on doing what matters most to you.</p>
        <span style="color: blue; margin-top: 20px;font-size: 20px;">Learn more &nbsp;&nbsp;&nbsp;<img src="./assets/Vector.png" alt="no image"></span>
    </div>

    <!-- left float end-->
</div>

<!-- float right -->
<div class="float-right" style="width: 50%;padding: 5%;text-align: left;float: right;">
    <!-- advice and guidance -->
    <div class="Advice-Guidance">
        <img src="./assets/Group.png" alt="no image" id="left-right-float-images">
        <h4>Advice & Guidance</h4>
        <p>All activities in the UAE are licensed. Whether manufacturing, finance, trading, marketing, Consultancy or restaurants. In some countries only manufacturing is licensed. In other there is a thereshold below which business are encouraged. Get our insightfull guidance today.</p>
        <span style="color: blue; margin-top: 20px;font-size: 20px;">Learn more &nbsp;&nbsp;&nbsp;<img src="./assets/Vector.png" alt="no image"> </span>

    </div>
    <!-- registration document -->
    <div class="Registration-Document">
        <img src="./assets/Group-1.png" alt="no image" id="left-right-float-images">
        <h4>Registration Document Preparation</h4>
        <p>Seeral documents must be prepared to start the process of registrering a new company in the United Arab Emirates. Be it a Dubai local Company, a free zone one or an offshore entity. Your registered agent is dedicated to get this done for you for a seamless process.</p>
        <span style="color: blue; margin-top: 20px;font-size: 20px;">Learn more &nbsp;&nbsp;&nbsp;<img src="./assets/Vector.png" alt="no image"> </span>

    </div>
    <div class="right-text">
        <h4>We have gathered a team of professionals to craft adequate services you can rely on for a friction free setup in UAE.</h4>
        <span style="color: blue; margin-top: 20px;font-size: 20px;">More about our services &nbsp;&nbsp;&nbsp;<img src="./assets/Vector.png" alt="no image"> </span>
    </div>

</div>


<!-- float lkeft right end -->
</div>


<!-- center matter -->
<div  class="popular" style="text-align: center;width: 100%; margin-top: 100px;">
 <div style="width: 40%;"><img src="./assets/Ellipse 7.png" alt="no image" style="border-radius:50%;float: left;height: 140px;margin: 10px 10px 50px 160px;"></div>
    <h3 style="text-align:left; font-weight: bold;">Most <span style="border-bottom: 4px solid orange;" id="dedicated">popular affordable pricing</span> per<br>jurisdictions are brought to you to <br>kick off your adventure.</h3>
   
</div>

<!-- price box row -->
<div class="price-box-row">
    
    <!-- price box 1 -->
    <div class="price-box-1">
        <h5>AJMAN OFFSHORE</h5>
        <span style="color: blue;font-size: 25px; font-weight: bold;">$2,997 <span style="color: gray;font-weight: lighter;font-size: 14px;">One Time Payment</span></span>
       <h6>Ajman Offshore New Company formation includes</h6>
      
      <div class="input-box-right-tick">
    <ul>
        <li><img src="./assets/Group 35.png" alt="no image">  Attestation Charges  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Registered Agent  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Registered Office  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  varal Administrative </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Preparing Statutory File  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Liasing With Registration Authorities  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Due Diligence Appraisal  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Keeping The Register  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Seal Charges  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  certificate of Good Standing  </li>
     
    </ul>
    </div>
      <button style="width: 250px; text-align: center;padding: 10px 20px ; background-color:white; border: 1px solid blue;margin: 10px 40px 40px 40px ;border-radius: 5px; font-weight: bold; color: blue;">Continue</button>
     

    </div>
    <!-- price box 1 -->
    <div class="price-box-2">
        <h3>RAK ICC</h3>
        <span style="color: white-space:inherit; font-size:25px; font-weight:bold;">$2,997 <span style="color:white;font-weight: lighter;font-size: 14px;">One Time Payment</span></span>
       <h6>Rak Icc New Company formation includes</h6>
      
      <div class="input-box-right-tick">
    <ul>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  Attestation Charges  </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  Registered Agent  </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  Registered Office  </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  varal Administrative </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  Preparing Statutory File  </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  Liasing With Registration Authorities  </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  Due Diligence Appraisal  </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  Keeping The Register  </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  Seal Charges  </li>
        <li><img style="color: white; background-color: #fff;border-radius: 50%;" src="./assets/Group 35.png" alt="no image">  certificate of Good Standing  </li>
     
    </ul>
    </div>
      <button style="width: 250px; text-align: center;padding: 10px 20px ; background-color:white; border: 1px solid blue;margin: 10px 40px 40px 40px ;border-radius: 5px; font-weight: bold; color: blue;">Continue</button>
     

    </div>
    <!-- price box 1 -->
    <div class="price-box-3">
        <h5>SHARJAH MEDIA CITY</h5>
        <span style="color: blue;font-size: 25px; font-weight: bold;">$4,124 <span style="color: gray;font-weight: lighter;font-size: 14px;">One Time Payment</span></span>
       <h6>Sharjah Media City New Company formation includes</h6>
      
      <div class="input-box-right-tick">
    <ul>
        <li><img src="./assets/Group 35.png" alt="no image">  Attestation Charges  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Registered Agent  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Registered Office  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  varal Administrative </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Preparing Statutory File  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Liasing With Registration Authorities  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Due Diligence Appraisal  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Keeping The Register  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  Seal Charges  </li>
        <li><img src="./assets/Group 35.png" alt="no image">  certificate of Good Standing  </li>
     
    </ul>
    </div>
      <button style="width: 250px; text-align: center;padding: 10px 20px ; background-color:white; border: 1px solid blue;margin: 10px 40px 40px 40px ;border-radius: 5px; font-weight: bold; color: blue;">Continue</button>
     

    </div>




    <!-- price box row end -->
</div>



<!-- left-right side bars  -->
<div class="left-right-sidebars" style="width: 100%;">

<!-- left side bar -->
<div class="left-sidebar" style="width: 45%; padding: 2px;float: left;">



 <!-- verti-line -->
<div class="customer-1" style="width: 100%;float: left;margin-top: 50px;margin-bottom: 20px;">
    <div class="img" style="width: 5%;float: left;">
        <div class="vr-line" style="border: 2px solid blue; width: 2px; height: 50px;"></div>
    </div>
    <div class="text-1" style="width: 60%;float: left;"><b>Read about our blogs for more information on our processesheight</b></div>
    <div class="pointed" style="color: blue;width: 10%;"><hr></div>
    <div class="line-hr" style="width: 8%;;">
         <!-- <hr style="color: blue;border-bottom:1px solid blue;margin-top: 100px;"> -->
         </div>
</div>


    <!-- image matter -->
    <div class="image" style="margin-top: 50px;">
        <img src="./assets/Vector-4.png" alt="no image" style="width: 80px;height: 80px; border: 10px solid white; border-radius: 5px;margin-right: 8px; outline: 1px solid blue;float: left;">
        <h5 style="text-align: left; width: 70%;">How to start a company formation in Dubai</h5>
        <span style="color: blue;font-weight:600;">5 Minutes</span>
    </div>

      <!-- image matter -->
      <div class="image" style="margin-top: 50px;">
        <img src="./assets/Vector-4.png" alt="no image" style="width: 80px;height: 80px; border: 10px solid white; border-radius: 5px;margin-right: 8px; outline: 1px solid blue;float: left;">
        <h5 style="text-align: left; width: 70%;">How to start an Offshore company formation in Dubai</h5>
        <span style="color: blue;font-weight:600;">5 Minutes</span>
    </div>

    <!-- image matter -->
    <div class="image" style="margin-top: 50px;background-color: blue;padding: 15px;border-radius: 5px;width: 80%;">
        <img src="./assets/Vector-4.png" alt="no image" style="width: 80px;height: 80px;color:white; background-color: white;
        border: 10px solid blue; border-radius: 5px;margin-right: 8px; outline: 1.5px solid white;float: left;">

        <h5 style="text-align: left; width: 70%;color: white;">SEO Dubai: Who benefits the most ?</h5>
        <span style="color: white;font-weight:600;">5 Minutes</span>
    </div>

    <!-- vertical line matter2 -->
     <!-- verti-line -->
<div class="customer-1" style="width: 100%;float: left;margin-top: 50px;">
    <div class="img" style="width: 5%;float: left;">
        <div class="vr-line" style="border: 2px solid blue; width: 2px; height: 50px;"></div>
    </div>
    <div class="text-1" style="width: 60%;float: left;"><b>Satisfied We are When Our Customers Are Happy</b></div>
    <div class="pointed" style="color: blue;width: 10%;"><hr></div>
    <div class="line-hr" style="width: 8%;;">
         <!-- <hr style="color: blue;border-bottom:1px solid blue;margin-top: 100px;"> -->
        </div>
</div>


    <!-- CUSTOMER REVIEWS -->
<div class="customer-1" style="width: 100%;float: left;margin-top: 30px;">
    <div class="row-1">
    <div class="img" style="width: 15%;float: left;">
        <img src="./assets/Vector-3.png" alt="no image" style="border: 5px solid white; border-radius: 25px; outline: 1px solid blue;margin-right: 20px;">
    </div>
    <div class="text-1" style="width: 50%;float: left;"><q>I am very happy with them. I'll continue to use their services in future & highly recommend them to anyone,</q>
    <br><b>Mauib Abrar</b>
    </div>
    
    </div> 
    
        <div class="line-hr" style="width: 8%;;"> <hr style="color: blue;border-bottom:2px solid blue;margin-top: 115px;"> </div>
    

</div>
 
    <!-- CUSTOMER REVIEWS -->
<div class="customer-1" style="width: 100%;float: left;margin-top: 30px;">
    <div class="img" style="width: 15%;float: left;">
        <img src="./assets/Vector-3.png" alt="no image" style="border: 5px solid white; border-radius: 25px; outline: 1px solid blue;margin-right: 20px;">
    </div>
    <div class="text-1" style="width: 50%;float: left;"><q>Rama has a high level of intigrity, intellect, knowledge of his business, resourcefulness and humanity,</q><br> <br> <b>Colin Saldahna</b></div>
    <div class="pointed" style="color: blue;width: 10%;"><hr></div>
    <div class="line-hr" style="width: 8%;;"> <hr style="color: blue;border-bottom:2px solid blue;margin-top: 100px;"> </div>
</div>

 
    <!-- CUSTOMER REVIEWS -->
<div class="customer-1" style="width: 100%;float: left;margin-top: 30px;">
    <div class="img" style="width: 15%;float: left;">
        <img src="./assets/Vector-3.png" alt="no image" style="border: 5px solid white; border-radius: 25px; outline: 1px solid blue;margin-right: 20px;">
    </div>

    <div class="text-1" style="width: 50%;float: left;"><q>Your advice was so complete that I actually realizes how beneficial this would be to my clients and my business.</q><br><br><b>Mark Swann</b></div>

    <div class="line-hr" style="width: 8%;;"> <hr style="color: blue;border-bottom:2px solid blue;margin-top: 125px;"> </div>
    <br>
</div>





    <!-- left side bar end-->
</div>


<!-- right-siudebar start -->

<div class="right-sidebar" style="width: 40%;float: right;">

         <!-- verti-line -->
<div class="customer-1" style="width: 100%;float: right;margin-top: 70px;margin-bottom: 30px;">
    <div class="img" style="width: 5%;float: left;">
        <div class="vr-line" style="border: 2px solid blue; width: 2px; height: 50px;"></div>
    </div>
    <div class="text-1" style="width: 70%;float: left;"><b>Read about our blogs for more information on our processesheight</b></div>
    <div class="pointed" style="color: blue;width: 10%;"><hr></div>
    <div class="line-hr" style="width: 8%;;">
         <!-- <hr style="color: blue;border-bottom:1px solid blue;margin-top: 100px;"> -->
        </div>
</div>
  
    <!-- services -->
    <div class="services">
        
        <ul>
            <li><b>Services</b></li>
            <li>Products</li>
            <li>Solutions</li>
            <li>Assurance</li>
            <li>FAQ</li>
            <li>Working at Varal-Singhania</li>
        </ul>
    </div>
    <div class="policies">
        <ul>
            <li><b>Policies</b></li>
            <li>Policy Privacy</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
    <div class="About">
        <ul>
            <li><b>About</b></li>
            <li>About Us</li>
            <li>Contact Us</li>
        </ul>
    </div>
    <div class="Address">
        <ul>
            <li><b>Address</b></li>
            <li>608 One Lake Plaza, Cluster T,</li>
            <li>AI Sarayat street,</li>
            <li>Lake Towers</li>
            <li>Dubai</li>
            <li>United Arab Emirates</li> <br>

            <li>Office Hours: Sunday to </li>
            <li>Thursday 8:30 AM to 6:30 PM </li>
            <li>[GMT+4]</li>
            <li>M : +971 55 794 2016</li>
            <li>O : +971 4 447 2061</li>
        </ul>
    </div>
    <div class="subscribe-now">
        <ul>
            <li><b>Subscribe Now</b></li>
            <li>Subscribe now to receive our</li>
            <li>Newsletters about amazing </li>
            <li>opportinuties in Dubai</li>
        </ul>
    </div>
    <div class="enter-email" style=" border: 2px solid white;width: 100%;">
        <input type="email" name="email" id="email" placeholder="Enter Email address" style="width: 70%;float: left;margin-left: 40px; padding: 15px; border-radius: 4px;color: gray;background-color: white;">
        <div class="image" style="width: 20%;float: left;margin-bottom: 50px;"><img src="./assets/Group 34.png" alt="no image" height="55px"></div>
       

    </div> 

    <div class="icon-separate" style="width: 100%;">
    <div class="icons" style="margin: 20px 2px 20px 50px;">
        <a href=""><img src="./assets/Vector-5.png" alt="no image"></a>
        <a href=""><img src="./assets/Vector-6.png" alt="no image"></a>
        <a href=""><img src="./assets/Vector-8.png" alt="no image"></a>
        <a href=""><img src="./assets/Vector-7.png" alt="no image"></a>
    </div>
</div>


   

<!-- right sidebar end -->
</div>



    <!-- left-right side bars end -->
</div>


        <!-- container end -->
    </div>
<hr>
  <footer style="text-align: center;color: gray;padding: 40px;"><span>Varaluae 2021 &copy; All Rights Reserved</span></footer>  
<!-- </body> -->
<!-- </html> -->
<style>
 .left-right-floats{
     /* border: 2px solid gray; */
     margin-top: 150px;
 }   
body{
    background-color:white;
}
.nav-item a{
    color: black;
    text-decoration: none;
    font-size: 20px;

}
ul li {
    list-style-type: none;
    /* padding: 5px; */
}
.col-sm-4 h3{
    padding: 20px;
}
.col-sm-4 span{
background-color:blue;
padding: 5px 2px;
margin: 2px;
border-radius: 50%;
color: white;
}
input[type=text]{
    width: 80%;
    padding: 15px;
    color: blue;
    border: blue 2px solid;
    border-radius: 4px;
    text-decoration: blue;
}
.fa-search{
    color: blue;
    font-weight: bold;
    top: 2;
    left: 2;
    right: 90;
    
}
::placeholder{
    color: blue;
}
.rows3{
width: 100%;
display: flex;
}
.col1{
    width: 33%;

}
.col1 p{
    overflow: left;
}
.left-bank-account, .UAE-Company-Visas{
    border: 1px solid gray;
    padding: 60px;
    margin-top: 100px;
    border-radius: 5px;
}
.Advice-Guidance, .Registration-Document{
    border: 1px solid gray;
    padding: 60px;
    margin-bottom: 50px;
    border-radius: 5px;

}
#left-right-float-images{
    margin-bottom: 40px; 
    width: 300px;
    padding: 20PX;
    margin-bottom: 40px; 
}

p{
color: gray;
}

.price-box-row{
    margin-top: 100px;
    width: 100%;
    /* display: inline-block; */
    

}
.price-box-1{
    width: 32%;
    padding: 15px;
    /* border: 1px blue solid; */
    border-radius: 5px;
    float: left;
}

.price-box-2{
    background-color: blue;
    color: white;
    width: 32%;
    padding: 15px;
    border: 1px white solid;
    border-radius: 5px;
    float: left;
    margin-left: 35px;
}

.price-box-3{
    width: 32%;
    padding: 15px;
    /* border: 1px blue solid; */
    border-radius: 5px;
    float: right;
}
.price-box-1 h4,.price-box-1 h5, .price-box-1 h6{
    color: blue;
}
.icons img{
    padding-right: 25px;
    float: left;
}
.right-sidebar ul li{
    font-weight: 800;
    color: grey;
}
.right-sidebar ul li b{
    text-decoration: none;
    color: black;
}

</style>
